<!DOCTYPE html>
<html data-ng-app="sliderInput">
<head>
	<meta charset="utf-8">
	<title>Form UI Demo(2)--WIP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="js/index2.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/base_responsive.css" rel="stylesheet">
</head>
<body data-ng-controller="DataCtrl">
	<ul class="menu-links">
		<li><a href="/">Home</a></li>
		<li><a href="index.html">Demo</a></li>
		<li><a href="index2.html">Demo(2)</a></li>
		<li><a href="index3.html">Demo(3)</a></li>
		<li><a href="index4.html">Demo(4)</a></li>
	</ul>
	<p></p>
	<div class="container-fluid">
		<form class="form-signin" ng-submit="submitForm()">
			<div class="tab-content">
				<div class="tab-pane active" id="tabs-basic">
					<h2 class="form-signin-heading">MOTIVATIONAL GIFT TEST (WIP!!!)</h2>
					<div class="alert alert-block fade in">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>Hi, Welcome to the Demo(2)</h4>
						This is just a demo of my past work. It is a cut-down version. Clicking the 'Submit' button won't work (so don't bother) and of course, the actual verson won't have this alert.
					</div>
					<div class="alert alert-info fade in">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>How To Answer The Quiz:</h4>
						<p>For each question, move slider to select answer between 0 to 5 (0: never, 1: seldom, 2: sometimes, 3: usually, 4: mostly, 5: always).</p>
					</div>
					<div class="tabbable">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tabs1-pane1" data-toggle="tab">Q1 - Q6</a></li>
							<li><a href="#tabs1-pane2" data-toggle="tab">Q7 - Q12</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tabs1-pane1">
								<table class="table table-hover2 table-bordered">
									<thead>
										<tr><th>Characteristics</th><th>Answer 0-5</th></tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="entry in data1">
											<td>{{entry.text}}</td>
											<td class="tdRange">
												<input type="range" ng-model="entry.value" name="{{entry.name}}" min="0" max="5">&nbsp;
												<input class="input-xmini" type="text" ng-model="entry.value" name="input" maxlength="1">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane" id="tabs1-pane2">
								<table class="table table-hover2 table-bordered">
									<thead>
										<tr><th>Characteristics</th><th>Answer 0-5</th></tr>
									</thead>
									<tbody>
										<tr ng-repeat="entry in data2">
											<td>{{entry.text}}</td>
											<td class="tdRange">
												<input type="range" ng-model="entry.value" name="{{entry.name}}" min="0" max="5">&nbsp;
												<input class="input-xmini" type="text" name="input" ng-model="entry.value" maxlength="1">
											</td>
										</tr>
									</tbody>
								</table>
								<p class="pull-right"><button class="btn btn-large btn-primary" type="submit" name="submit">Submit</button></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<footer>
		<div class="container footer">
			<hr>
			<p class="pull-right"><a href="https://github.com/jhkueh">github.com/jhkueh</a></p>
			<p class="pull-left">Powered by <a href="http://twitter.github.io/bootstrap/index.html">Bootstrap</a> & <a href="http://angularjs.org/">AngularJS</a>.</p>
		</div>
	</footer>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>

