<!DOCTYPE html>
<html data-ng-app="sliderInput">
<head>
	<meta charset="utf-8">
	<title>Form UI Demo(3)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
	<script src="js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
	<script src="js/index3.js"></script>
	<link href="css/bstrap3.1.1.min.css" rel="stylesheet">
	<link href="css/base_responsive.css" rel="stylesheet">
	<style type="text/css">input[type="range"] {display: inline; width: 90%;}</style>
</head>
<body data-ng-controller="DataCtrl">
	<ul class="menu-links">
		<li><a href="/">Home</a></li>
		<li><a href="index.html">Demo</a></li>
		<li><a href="index2.html">Demo(2)</a></li>
		<li><a href="index3.html">Demo(3)</a></li>
		<li><a href="index4.html">Demo(4)</a></li>
	</ul>
	<p></p>
	<div class="container-fluid">
		<form class="form-signin" ng-submit="submitForm()">
			<h2 class="form-signin-heading">LIFE GIFT TEST (Beta)</h2>
			<div ng-controller="AlertCtrl">
				<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
					<span ng-bind-html="alert.msg"></span>
				</alert>
			</div>
			<div ng-controller="TabsCtrl">
				<tabset>
					<tab heading="Q1 - Q8" id="P1" active="tabs[0].static">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>Life Gifts</th>
									<th>Was it enjoyable?</br>(0 = terrible, 4 = great)</th>
									<th>Is natural?</th>
									<th>Is life gifts?</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="e in data1">
									<td>{{e.text}}</td>
									<td class="tdRange tdR"><input type="range" ng-model="e.value" name="{{e.name}}" min="0" max="4">&nbsp;{{e.value}}</td>
									<td class="tdR" ng-click="e.natural = !e.natural"><input type="checkbox" ng-model="e.natural" name="N{{e.name}}"></td>
									<td class="tdR"><i ng-class="{'glyphicon glyphicon-ok': e.value > 2 && e.natural}"></i></td>
								</tr>
							</tbody>
						</table>
						<ul class="pager">
							<li class="next" ng-click="tabs[1].static = true"><a href="#P2">Next Page &rarr;</a></li>
						</ul>
					</tab>
					<tab heading="Q9 - Q16" id="P2" active="tabs[1].static">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>Life Gifts</th>
									<th>Was it enjoyable?</br>(0 = terrible, 4 = great)</th>
									<th>Is natural?</th>
									<th>Is life gifts?</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="e in data2">
									<td>{{e.text}}</td>
									<td class="tdRange tdR"><input type="range" ng-model="e.value" name="{{e.name}}" min="0" max="4">&nbsp;{{e.value}}</td>
									<td class="tdR" ng-click="e.natural = !e.natural"><input type="checkbox" ng-model="e.natural" name="N{{e.name}}"></td>
									<td class="tdR"><i ng-class="{'glyphicon glyphicon-ok': e.value > 2 && e.natural}"></i></td>
								</tr>
							</tbody>
						</table>
						<ul class="pager">
							<li class="previous" ng-click="tabs[0].static = true"><a href="#P1">&larr; Previous Page</a></li>
							<li class="pull-right"><button class="btn btn-success btn-lg" type="submit" name="submit">Submit</button></li>
						</ul>
					</tab>
				</tabset>
			</div>
		</form>
	</div>
	<footer>
		<div class="container footer">
			<hr>
			<p class="pull-right"><a href="https://github.com/jhkueh">github.com/jhkueh</a></p>
			<p class="pull-left">Powered by <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://angularjs.org/">AngularJS</a> & <a href="http://angular-ui.github.io/bootstrap">UI-Bootstrap</a>.</p>
		</div>
	</footer>
</body>
</html>

